<div class="container col-xs-12 col-md-4 col-md-offset-4">
    <div class="row">
      <form class="col-xs-12">

        <div style="text-align: center;">
          <h3>Today : 01/01/2016</h3>
          <br>
          <div class="form-group">
            <input id="sleep" type="number" class="form-control" placeholder="How many hours do you sleep?" name="sleep" required>
          </div>
          <h3>Hour</h3>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary col-xs-12">OK</button>
        </div>
      </form>
    </div>
  </div>
